<ul class="footer-menu">
	{% for block in section.blocks %}
		<li>
			<a href="{{ block.settings.footer_url }}">{{ block.settings.footer_text }}</a>
		</li>
	{% endfor %}
</ul>
<p class="copyright-text">Copyright &#9400; Fashion</p>