
<ul class="footer-menu">
	<li>
		<a href="">Contact</a>
	</li>
	<li>
		<a href="">SHIPPING</a>
	</li>
	<li>
		<a href="">TERMS OF SERVICE</a>
	</li>
	<li>
		<a href="">PRIVACY POLICY</a>
	</li>
</ul>
<p class="copyright-text">Copyright &#9400; Fashion</p>