
<ul class="social-media">
	{% if section.settings.facebook != blank %}
		<li>
			<a href="{{ section.settings.facebook}}" target="_blank" rel="nofollow">
				<i class="fa fa-facebook-f"></i>
			</a>
		</li>
	{% endif %}
	{% if section.settings.instagram != blank %}
		<li>
			<a href="{{ section.settings.instagram}}" target="_blank" rel="nofollow">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
	{% endif %}
	{% if section.settings.twitter != blank %}
	<li>
		<a href="{{ section.settings.twitter}}" target="_blank" rel="nofollow">
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{% endif %}
	{% if section.settings.pinterest != blank %}
		<li>
			<a href="{{ section.settings.pinterest}}" target="_blank" rel="nofollow">
				<i class="fa fa-pinterest"></i>
			</a>
		</li>
	{% endif %}			
</ul>
		