<footer class="footer section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% include "socialmedia" %}
        {% include "footer-links" %}
      </div>
    </div>
  </div>

</footer>  
  {% schema %}
    {
      "name": "Footer",
        "settings": 
        [
          {
            "type": "text",
            "id": "facebook",
            "label": "Facebook Link"
          },
          {
            "type": "text",
            "id": "instagram",
            "label": "Instagram Link"
          },
          {
            "type": "text",
            "id": "twitter",
            "label": "Twitter Link"
          },
          {
            "type": "text",
            "id": "pinterest",
            "label": "Pinterest Link"
          }
        ],
        "blocks": 
        [
          {
            "type": "text",
            "name": "Footer Links",
            "settings":
            [
              {
                "type": "text",
                "id": "footer_text",
                "label": "Text"
              },
              {
                "type": "url",
                "id": "footer_url",
                "label": "Link"
              }
            ]
          }
        ]
    }
  {% endschema %}